<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Films
    </ion-title>
    <ion-button slot="end"  [routerLink]="['/create-film']">
      <ion-icon name="create"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let film of films" [routerLink]="['/film/', film.id]">
      <ion-card-header>
        <ion-card-title>  Film : {{ film.title }} <br>
          <small>Réalisé par : {{film.realisateur}}</small></ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
  
</ion-content>