<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Moovy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">  

    <h1>Bienvenue sur Moovy</h1>
    <img src="assets/img/original.jpg" width="500" height="215">
  
    <p>Moovy est un site de résumé de films pour vous aider à choisir quel film regarder.<br>
    Vous pouvez sélectionner un résumé de film dans la liste ou rajouter un film vous même</p>
   
  </div>

</ion-content>
